*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build/
/captures
.idea/encodings.xml
app/src/androidTest/
app/src/test/
projectFilesBackup/
/app/build/
/app/app-release.apk
*.apk
commit_git.bat

